body {
  background-color: $light-gray;
  color: $medium-gray;
}

.delete-me {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: $black;
  text-align: center;
  width: 100px;

  h1 {
    font-weight: 200;
  }

  p {
    color: #medium-gray;
  }
}

.header {
  height: 250px;
  background-color: $white;
}

.product {
  height: 500px;
  background-color: $orange;
}

.footer {
  height: 125px;
  background-color: $black;
}

.text {
  background-color: $orange;
  color: $black;
  width: 600px;
}
section {

  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      //margin-top: 2em; 
      //max-width: 100%;
      }


}
