body {
  background-color: $light-gray;
  color: $medium-gray;
}

.header {
  height: 300px;
  background-color: $white;
}

.logo {
  float: left;

  img {
    margin-top : 2em;
    margin-left: 10em;
  }
}

.slogan {
  float: right;
  margin-top: 2em;
  margin-right: 20em;

  .brand-name {
    background-color: $black;
    text-align: center;
    width: 120px;
    margin-bottom: 2em;
    padding: 0.5em 0 ;
    //float: right;

    h1 {
      font-weight: 200;
    }

    p {
      color: #medium-gray;
      display: inline;
      font-size: $base-font-size * 1.2; 
    }
  }
}

.o-color {
  color: $orange;
 }

.w-color {
  color: $white;  
}

.text {
  background-color: $orange;
  color: $black;
  width: 600px;

  p{
    margin-left: 0.5em;
    margin-bottom: 2em;
    font-size: $base-font-size * 1.2; 
    padding: 0.5em; 
  }
}

.product {
  height: 600px;
  background-color: $orange;

  .panneaux {
    max-width: 25%;
    margin-top: $base-spacing * 4;
    margin-left: $base-spacing * 4;
  }

  .maison {
    max-width: 50%;
  }

  .made-in-france {
    max-width: 10%;
  } 
}

.footer {
  height: 200px;
  background-color: $black;
  padding-top: 2em;


  .footer-text {
    background-color: $orange;
    color: $black;
    width: 600px;
    display: block; 
    margin-left: auto;
    margin-right: auto;

    p {
    margin-left: 0.5em;
    margin-bottom: 2em;
    font-size: $base-font-size * 1.2; 
    padding: 0.5em; 
    }
 
  }
}

//img {
  //display: block;
  //margin-left: auto;
  //margin-right: auto;
  //margin-top: 2em; 
  //max-width: 100%;
//  }

